* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title-font: "Poppins", sans-serif;
  --body-font: Sego, sans-serif;
  --font-size: 1rem;
  --primary-color: black;
  --bg-color: #7e7e7e;
  --secondary-color: white;
  --radius: 10px;
}

body {
  font-family: "Lato", sans-serif;
  font-size: var(--font-size);
  line-height: 1.7;
  font-family: var(--body-font);
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
}
