* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title-font: "Playfair Display", serif;
  --body-font: "Lora", serif;
  --note-font: "Tangerine", cursive;
  --font-size: 16px;
  --primary-color: rgb(40, 40, 40);
  --bg-color: #7e7e7e;
  --secondary-color: white;
  --three-color: #83600a;
  --navbar-color: #1f0b06;
  --radius: 10px;
}

body {
  font-family: var(--body-font);
  font-size: var(--font-size);
  color: var(--primary-color);
  line-height: 1.7;
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  h1,
  h2,
  h3 {
    font-family: var(--title-font);
    font-weight: 600;
  }
}
